/* na atividade da receita, feita na aula 02 faça as seguintes estilizações:

adicione um plano de fundo escuro para o corpo inteiro da página (body - background-color)
para os parágrafos (p):
    cor do texto: branca
    tamanho da fonte 18px
    alinhamento de texto justificado

*/

body{
    background-color: #000;
    color: #e7a0e6;
}

p{
    color: #fff;
    font-size: 18px;
    text-align: justify;
}

/*

para os itens de listas:
    cor do texto: amarelo claro (beige)
    tamanho da fonte 18px
    alinhamento de texto a esquerda
    */

li{
    color: beige;
    font-size: 18px;
    text-align: left;
}

/* mudança do marcador dos itens da lista não ordenada */

ul{
    list-style-type:square;
}

/*


para os títulos h1 
    cor: amarelo vibrante (defina um rgb ou hexadecimal)
    tamanho da fonte 32px
    alinhamento de texto centralizado

    

*/

h1{
    color: rgb(206, 202, 0);
    font-size: 32px;
    text-align: center;
}

h2{
    color: rgb(181, 175, 54);
    font-size: 24px;
    text-align: center;
    font-style: italic;
}

/*
para os títulos h2
    cor: amarelo mais claro (defina um outro rgb ou hexadecimal)
    tamanho da fonte 24px
    alinhamento de texto centralizado 
    tipo do texto itálico

*/